body {
    margin: 60px auto;
    width: 70%;
    background-color:rgb(254,251,249);
}
header {
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
    font-size: 15px;
    font-family: trebuchet ms, arial, hevetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

nav ul, footer ul {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    text-align:center;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    display: inline;
    margin-right: 20px;
}
a {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: bold;
}
h1 {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    font-size: 3em;
}

}
p {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: trebuchet ms, arial, hevetica, sans-serif;
    list-style: none;
}
