<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<header>
			<!--<h1>KATE <strong>VON KRUSENSTIERN</strong></h1>-->
			<nav>
				<ul><div class="floatleft">
					<li class ="special_text"><a href="/">KATE <strong>VONKRUSENSTIERN</strong></a></li>
				</div>
				<div class='floatright'>
	        		<li><a href="/research">RESEARCH</a></li>
	        		<li><a href="/blog">BLOG</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/contact">CONTACT</a></li>
	        		<li><a hred="/acknowledgements">ACKNOWLEDGEMENTS</a></li>
	        		</div>
			</ul>	
			</nav>
			<img src="https://cloud.githubusercontent.com/assets/15948507/12936033/4f72ce1e-cf4f-11e5-8a5b-d23968548808.png">
		</header>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kvonkrus@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kvonkrusenstiern">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/kate-von-krusenstiern-a84b89a9?trk=hp-identity-name">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
